$primary-color-1: #286fb4;
$primary-color-2: #222 !important;
$primary-color-3: #fff;
$primary-color-4: #92c833;
$primary-color-5: #43a7ff;
$primary-color-6: #212529;

$transition: all 0.3ms ease;
$shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
$shadow-2: 0 1px 3px #92c833;